.promo {
	display: flex;
	background-color: #073042;
	width: 100%;
	text-align: center;
	min-height: 524px;
	background-image: url(../../images/landing-logo.svg);
	background-position: center 82px;
	background-repeat: no-repeat;
}

.promo__title {
	padding: 0;
	margin: 184px auto 224px;
	max-width: 730px;
	color: #FFF;
	font-size: 50px;
	font-weight: 400;
	line-height: 58px;
	letter-spacing: -2px;
}



@media screen and (max-width: 768px) {
.promo {
	min-height: 784px;
	background-position: center 224px;
}
.promo__title {
	margin-top: 326px;
	margin-bottom: 342px;
}
}

@media screen and (max-width: 560px) {
	.promo {
		min-height: 570px;
		background-position: center 142px;
		background-size: 248px;
	}
	.promo__title {
		max-width: 300px;
		margin-top: 207px;
		margin-bottom: 246px;
		font-size: 31px;
		line-height: 39px;
		letter-spacing: -1.24px;
	}
	}